.banner-carousel {
    position: relative;
    bottom: 130px;

    .swiper-wrapper {
        padding: 45px 0;

        .swiper-slide {
            position: relative;
            margin: 0 !important;
            transition: .2s linear;
            transform: rotateX(0deg) rotateY(11deg) scale(1);

            &.swiper-slide-active {
                z-index: 2;
                transform: scale(1.1);
            }
        }
    }
}