.btn {
    position: relative;
    background-color: transparent;
    padding: .9rem .8rem;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;

    &::before, &::after {
        z-index: -1;
        transition: .3s linear;
    }

}

.btn-orange {
    background-color: #F6571E;
    text-transform: capitalize;
}

.btn-wallet {
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 1rem;
    background-color: rgba(246, 87, 30, .3);

    span:first-child {
        width: 40px;
        background-color: #F6571E;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    svg {
        font-size: 1.45rem;
    }

    &::before {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        background-color: #F6571E;
        left: 0;
        border-radius: 1rem;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }
}

.btn-notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #fff;
    border: 1px solid #F6571E;
    border-radius: 50%;

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: #F6571E;
        top: 0;
        left: 0;
        border-radius: 50%;
        transform: scale(0);

    }

    &:hover::after {
        transform: scale(1);
    }

    svg {
        font-size: 1.8rem;
    }
}