.banner-head {
    font-family: "Chakra Petch", sans-serif;
    font-size: 4.5rem;
    text-transform: uppercase;
}

.small-title {
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.5rem;
    padding-bottom: .2rem;
}

.medium-title {
    font-family: "Chakra Petch", sans-serif;
    font-size: 2rem;
    text-transform: capitalize;
}