@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Partials
@import url(./partials/_buttons.scss);
@import url(./partials/_colors.scss);
@import url(./partials/_headers.scss);
// Layouts
@import url(./partials/_navbar.scss);
//@import url(./partials/_footer.scss);

// Pages
@import url(./partials/_homebanner.scss);

body {
    background-color: rgba(0, 0, 0, 1);
}

a {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    transition: .3s linear;
}

.container {
    width: 90%;
    padding: 0 1rem;
    margin: 0 auto;
}

.block {
    display: block;
}


